# Binaries for programs and plugins
.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output files
*.out
/out

# Compiler
.idea
.vscode/*

# Project
config.yml
